parameters:
    excludes_analyse:

    universalObjectCratesClasses:
        - Crud\Event\Subject
    ignoreErrors:
        # ORM
        - '#Call to an undefined method Cake\\Datasource\\EntityInterface::getVisible().#'

        # Crud properties
        - '#Access to an undefined property object::\$created#'
        - '#Access to an undefined property object::\$entity#'
        - '#Access to an undefined property object::\$id#'
        - '#Access to an undefined property object::\$query#'
        - '#Access to an undefined property object::\$success#'
